// Bootstrap library.
@import "bootstrap";


body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#page {
	position: relative;
}

#anzeige {
	text-align: center;
	margin: 0 auto;
	button {
		width: 20%;
		display: inline-block;
		margin-top: 10px;
	}
}

#board {
	position: relative;
	text-align: center;
	margin: 10px auto;
	font-size: 20px;
	.btn-group {
		display: flex;
		justify-content: space-between;
		margin: 0;
		.btn {
			width: 100%;
		}
	}
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.btn {
	font-size: 20px;
	padding: 0;
	height: auto;
}

.btn-tile {
	.button-variant(white; navy; #337ab7);
}

.btn-flag-active {
	.button-variant(white; orange; red);
}


